<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.mentalhealth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appnamelogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MentalHealth">
        <activity
            android:name=".SimpleViews.MyProfile"
            android:exported="true" />
<!--        <activity-->
<!--            android:name=".SimpleViews.ChatActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".MyNursery.NurseryActivity"
            android:exported="false" />
        <activity
            android:name=".SimpleViews.DiscoverActivity"
            android:exported="true" />
        <activity
            android:name=".SimpleViews.ConnectorActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".SimpleViews.ChatActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

<!--        <receiver android:name="com.application.mentalhealth.HomeFragment.broadcastReceiver.AlarmReceiver" />-->
    </application>

</manifest>